@font-face {
    font-family: 'pixelFont';
    src: url(fonts/antiquity-print.ttf);
}
body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(img/designImg/betterBgImg.png);
    background-size: cover;
    color: white;
    position: relative;
}
.container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px;
}
/* Header: Klickbar, führt immer zur Startseite */
.header {
    font-family: 'pixelFont';
    margin-top: 2vh;
    cursor: pointer;
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 1vh;
}
.headerH2{
    margin-top: -2vh;
    margin-bottom: 0;
    font-size: 140%;
    font-family: 'pixelFont';
}
h2{
    font-size: 140%;
    font-family: 'pixelFont';
}
/* Navigation: Vertikale Buttons an linken und rechten Seiten */
.nav {
    font-family: 'pixelFont';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -95px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    background-image: url(img/designImg/justSchild.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 15vh;
    width: 50vh;
    transform: translateY(-50%);
}
.nav:hover{
    transform: scale(1.1);
}
.nav.left {
    left: 1px;
    transform: rotate(90deg);
}
.nav.right {
    transform: rotate(-90deg); 
    right: 1px;
}

/* content */
.content {
    display: none;
}
.content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description {
    width: 25%;
    padding: 2.5%;
    height: 30vh;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.description p {
    font-family: 'mideavleFont';
    font-size: 140%;
    padding: 2vh;
    border-radius: 2vh;
    background-color: rgba(28, 26, 26, 0.716);
    margin: 10px 0;
}
.start-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}
.box {
    font-family: 'pixelFont';
    width: 100%;
    height: 70px;
    background-image: url(img/designImg/justSchild.png);
    background-position: center;
    background-size: 110% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease .5s;
}
.box:hover{
    transform: scale(1.1);
}
.box h3 {
    color: white;
}

#deckDescription{
    background-image: url(img/designImg/cardAndMoney.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#boniDescription{
    background-image: url(img/designImg/beerAndBag.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#gameDescription{
    background-image: url(img/designImg/swordAndHelmet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*swiper styling */
.swiper-container {
    overflow: hidden;
    margin: 2vh;
    border-radius: 2vh;
    width: 80%;
    height: 40vh;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
  }
  
  /* Unterschiedliche Hintergrundfarben für jeden Slide */
  .swiper-slide:nth-child(1) {
    background-image: url(img/designImg/bar.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .swiper-slide:nth-child(2) {
    background-image: url(img/designImg/pokertable.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .swiper-slide:nth-child(3) {
    background-image: url(img/designImg/workbench.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .swiper-slide:nth-child(4) {
    background-color: #FF5722;
  }
  
  .swiper-slide:nth-child(5) {
    background-color: #607D8B;
  }

  /* Inhalt des Slides */
  .slide-content {
    font-family: 'mideavleFont';
    padding: 20px;
    max-width: 100%;
  }