
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/designImg/startSiteBg.jpg);
    background-size: cover;
    color: white;
    position: relative;
}
.container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2vh;
}
/* Header: Klickbar, führt immer zur Startseite */
.header {
    cursor: pointer;
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 20px;
}
/* Navigation: Vertikale Buttons an linken und rechten Seiten */
.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.nav.left {
    left: 1px;
    transform: rotate(90deg);
}
.nav.right {
    transform: rotate(-90deg); 
    right: 1px;
}
.nav button {
    font-size: 200%;
    font-weight: bolder;
    height: 10vh;
    padding: 1vh;
    margin: 0 -50px;
    background: #444;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2vh;
    width: 30vh;
}
.nav button:hover {
    background: #666;
}
.content {
    display: none;
}
.content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-wrapper {
    padding: 3vh;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}
.description {
    width: 25%;
    padding: 2.5%;
    height: 30vh;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.description p {
    margin: 10px 0;
}
.start-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.box {
    width: 100%;
    height: 70px;
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    cursor: pointer;
    padding: 0px;
}
.box h3 {
    margin-bottom: 5px;
}